body {
	background-color: #18181b;
}

hr {
	background-color: #e6e5e1;
	margin-top: 10pt;
	width: 90%;
	box-align: center;
	height: 1pt;
	border-width: 0ch;
}

ul > p {
	display: inline;
	color: white;
}

li {
	display: inline;
	margin: 10pt;
}

li > a {
	font-size: 12pt;
	color: #101010;
	text-decoration: none;
}

li > a:hover {
	color: #f44e7c;
	text-decoration: underline;
}

header {
	display: block;
	width: 90%;
	/* vertical-align: middle; */
	text-align: center;
	padding: 10pt;
}

header > img {
	vertical-align: middle;
}

ul {
	display: inline;
}

